$centerHeight: calc(100vh - 95px);
.dfc-all{
	height: $centerHeight;
	width: 100%;
}

.dfc-query{
	margin-top:17px;
  width: 100%;
	height: 32px;
	display: flex;
  align-items: center;
	span{
		font-size:14px;
		font-weight: normal;
	}
  .dfc-query-3mol{
      width: calc(100% - 83px);
      display: flex;
      align-items: center;
      div{
          width: 33.33%;
      }
  }
  .dfc-query-btn{
      width: 83px;
      button{
          margin-left: 10px;
          width: 73px;
      }
  }
}


.dfc-line{
	margin-top: 19px;
	color: rgba(80, 80, 80, 1);
	background-color: rgba(212, 212, 212, 1);
	width: 100%;
	height: 1px;
}

.dfc-table{
	margin-top:10px;
	width: 100%;
    // height: calc(100vh - 261px);
    // overflow-x: auto;
	input{
		height: 20px;
		text-align: right;
		// width: 80%;/
	}
    span{
        color: red;
    }
}

.dfc-sign{
  width: 100%;
  margin-top: 15px;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 5px;
  table{
    width: 100%;
    td{
      border: 1px solid #505050;
    }
  }
}

.td-title {
  text-align: center;
   color: white;
   font-size: 13px;
   font-family: '黑體';
   background-color: rgb(51,51,51);
   border:1px solid white;

 }
 .td-context {
   //  text-align: center;
     font-size: 12px;
     background-color: white;
     border:1px solid white;
 }
 .tableall tr{

     border: #505050 solid 1px;

 }
