.ant-table-tbody > tr > td {
  text-align: center;
}

::ng-deep .table .ant-table-thead > tr > th {
  text-align: center;
}

::ng-deep .addButton .ant-btn-primary {
  color: #333333;
  background-color: #ffffff;
}

.editButton {
  //消除button的默认样式
  margin: 0;
  padding: 0;
  border: 1px solid transparent;  //自定义边框
  outline: none;    //消除默认点击蓝色边框效果
  background-color: transparent;
}


// 新增彈框內容居中
::ng-deep .addModel .ant-modal-body {
  margin-left: 110px;
  text-align: left;
  height: 160px;
  width: 400px;
}

::ng-deep .addMufModel .ant-modal-body {
  margin-left: 110px;
  text-align: left;
  height: 70px;
  width: 400px;
}



label {
margin-bottom: 40px;
}

::ng-deep .passSelect .ant-select-selection--single {
  width: 100px;
}
::ng-deep .partSelect .ant-select-selection--single {
  width: 120px;
}
::ng-deep .approveSelect .ant-select-selection--single {
  width: 100px;
}
::ng-deep .manufacturerSelect .ant-select-selection--single {
  width: 90px;
}


