<!-- 表單 -->
<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="query()">
  <nz-form-item>
    <nz-form-label>{{ 'mrr.mrr-plant' | translate }}</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 170px" nzShowSearch nzAllowClear formControlName="plant"
        (ngModelChange)="plantChange($event)">
        <ng-container *ngFor="let plant of selectPlants">
          <nz-option [nzValue]="plant" [nzLabel]="plant"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-radio-group formControlName="radioValue" [nzDisabled]="disabledRadio" class="radioGroups">
        <label nz-radio nzValue="A">{{ 'mrr.vendor-all-show' | translate }}</label>
        <label nz-radio nzValue="B">{{ 'mrr.vendor-show-on' | translate }}</label>
        <label nz-radio nzValue="C">{{ 'mrr.vendor-show-off' | translate }}</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <br />
  <nz-form-item>
    <nz-form-label>{{ 'mrr.mrr-category' | translate }}1</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 170px" nzShowSearch nzAllowClear formControlName="category1"
        (ngModelChange)="firstCategoryChange($event)">
        <ng-container *ngFor="let vc of vendorDocumentCategory">
          <nz-option [nzValue]="vc.id" [nzLabel]="vc.name"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>{{ 'mrr.mrr-category' | translate }}2</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 170px" nzShowSearch nzAllowClear formControlName="category2">
        <ng-container *ngFor="let vc of vendorDocumentSubCategory">
          <nz-option [nzValue]="vc.id" [nzLabel]="vc.name"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [nzLoading]="isSearchLoading">{{ 'mrr.mrr-query' | translate }}</button>
    </nz-form-control>
  </nz-form-item>
</form>

<!-- table -->
<div class="table-cls" *ngIf="isDisplayContent">
  <div class="table-inner">
    <div class="dfq-btn-add">
      <button nz-button nzType="primary" [disabled]="isEditButton" (click)="editByPassValue()">
        <i class="anticon anticon-edit"></i>{{ 'mrr.mrr-edit' | translate }}
      </button>&nbsp;&nbsp;
      <button *ngIf="isDisplayEdit" nz-button nzType="primary" (click)="saveByPassValue()" [nzLoading]="isSaveLoading">
        <i class="anticon anticon-save"></i>{{ 'mrr.mrr-save' | translate }}
      </button>&nbsp;&nbsp;
      <button *ngIf="isDisplayEdit" nz-button nzType="primary" (click)="cancelByPassValue()">
        <i class="anticon anticon-close-circle"></i>{{ 'mrr.mrr-cancel' | translate }}
      </button>
    </div>
    <nz-table class="nz-table" #editRowTable nzBordered [nzShowSizeChanger]="true" [nzPageSize]="5"
      [nzData]="displayData">
      <thead>
        <tr>
          <th rowspan="3">{{ 'mrr.vendor-fileList' | translate }}</th>
          <th [attr.colspan]="plantNames.length">BY PASS {{ 'mrr.vendor-default-value' | translate }}</th>
        </tr>
        <tr>
          <th *ngIf="noHideWsd" [attr.colspan]="bgNumber[1]">WT</th>
          <th *ngIf="noHideWt" [attr.colspan]="bgNumber[0]">WSD</th>
        </tr>
        <tr>
          <th *ngFor="let plant of plantNames">{{plant}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <td style="font-weight: bold; text-align: left;">
            <i class="anticon anticon-folder-open"></i>&nbsp;&nbsp;{{data.name}}</td>
          <td *ngFor="let value of data.listData">
            <span *ngIf="value.isNonEditable === true; else isEditable">
              <!-- 默認顯示 -->
              <span *ngIf="value.pass === true; else displayBlank">
                <i class="anticon anticon-check"></i>
                <ng-template #displayBlank><span>{{value.pass}}</span></ng-template>
              </span>
            </span>
            <!-- 編輯后顯示 -->
            <ng-template #isEditable>
              <label nz-checkbox [(ngModel)]="value.pass" class="byPassCheckbox"></label>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>