.body {
  margin: 0 1%;
  width: 100%;
}

.content {
  margin: 0 -15px;
  min-height: 0px;
  font-size: 20px;
}

nz-table th {
  border: 1px solid;
  text-align: center;
}

td {
  border: 1px solid white;
  text-align: center;
}
