$centerHeight: calc(100vh - 95px);

.dfc-all {
  height: $centerHeight;
  width: 100%;
  z-index: 0;
}

.all {
  width: 100%;
  height: 100vh;
  position: relative;
}

.dfc-query {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;

  div {
    min-height: 42px;
    display: block;
    float: left;
  }

  .dfc-query-btn {
    margin-top: 10px;
    margin-right: 10px;
    width: 73px;

    button {
      width: 73px;
    }
  }
}

.dfc-line {
  margin-top: 19px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(212, 212, 212, 1);
  width: 100%;
  height: 1px;
}

.dfc-send {
  max-height: 400px;
  overflow-y: scroll;

}

.dfc-btn {
  margin-top: 20px;
  width: 100%;
  height: 36px;
  position: relative;

  .dfc-btn-delete {
    float: left;
  }

  .dfc-btn-left {
    position: absolute;
    left: 0;
    float: left;
    width: 400px;
    height: 100%;

    span {
      font-size: 14px;
      color: red;
    }
  }

  .dfc-btn-right {
    position: absolute;
    right: 0;
    float: right;
    width: 100px;
    height: 100%;

    .dfc-btn-upload {
      height: 100%;
      width: 282px;
      float: left;
    }

    .dfc-btn-download {
      margin-left: 20px;
      height: 100%;
      width: 36px;
      float: right;
    }
  }
}

.dfc-table {
  margin-top: 12px;
  width: 100%;

  input {
    height: 20px;
    text-align: right;
  }

  span {
    color: red;
  }
}

.dfc-delAfter-icon {
  height: 100px;
  width: 100%;
  color: rgba(0, 169, 157, 1);
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 76px;
  }
}

.dfc-delAfter-text {
  width: 238px;
  height: 46px;
  margin-left: 22px;
  padding: 10px;
  text-align: center;

  span {
    color: rgba(80, 80, 80, 1);
    font-size: 18px;
  }
}

.dfc-add-list {
  width: 100%;
  max-height: 440px;
  overflow-x: auto;

  div {
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 14px;
    text-align: right;
  }

  td {
    text-align: left;

    input {
      width: 270px;
      color: rgba(80, 80, 80, 1);
      background-color: rgba(255, 255, 255, 1);
      border-radius: 3px;
      font-size: 14px;
      font-weight: normal;
      line-height: 150%;
      border: rgba(204, 204, 204, 1) solid 1px;
      text-align: left;
    }

    nz-input-number {
      width: 270px;
      font-size: 14px;
      text-align: left;
      color: rgba(80, 80, 80, 1);
      background-color: rgba(255, 255, 255, 1);
    }

    nz-select {
      width: 270px;
      font-size: 14px;
      text-align: left;
      color: rgba(80, 80, 80, 1);
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

.dfc-report-title {
  height: 45px;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.dfc-report-content {
  height: 490px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .dfc-report-content-1 {
    height: 490px;
    width: calc(50% - 55px);

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;

      tr {
        height: 29.8px;

        td {
          text-align: left;
          font-size: 14px;
          border-left: 1px solid #ccc;
          border-top: 1px solid #ccc;
          padding-left: 10px;
          padding-right: 10px;
        }

        td:last-child {
          border-right: 1px solid #ccc;
          text-align: right;
        }
      }

      tr:nth-child(2n+1) {
        background-color: #f0f0f0;
      }

      tr:nth-child(2n) {
        background-color: #ffffff;
      }

      tr:first-child {
        background-color: #333;
        color: white;
        height: 33px;
        font-weight: bold;
        line-height: 150%;

        td:first-child {
          border-top-left-radius: 10px;
          text-align: center;
        }

        td:last-child {
          border-top-right-radius: 10px;
          text-align: center;
        }
      }

      tr:last-child {
        td {
          border-bottom: 1px solid #ccc;
        }

        td:first-child {
          border-bottom-left-radius: 10px;
        }

        td:last-child {
          border-bottom-right-radius: 10px;
        }
      }

    }
  }

  .dfc-report-content-2 {
    height: 490px;
    width: 55px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dfc-report-content-3 {
    height: 490px;
    width: 50%;

    table {
      height: 100%;
      width: 100%;

      tr {
        height: 4.7%;

        td {
          font-size: 14px;
          border-left: 1px solid #ccc;
          border-top: 1px solid #ccc;
        }

        td:nth-last-child(2) {
          text-align: right;
          padding-right: 10px;
        }

        td:last-child {
          text-align: right;
          padding-right: 10px;
          border-right: 1px solid #ccc;
        }
      }

      tr:first-child {
        height: 0%;

        td {
          border-left: 0px solid #ccc;
          border-top: 0px solid #ccc;
        }
      }

      tr:first-child {
        height: 0%;

        td {
          border-left: 0px solid #ccc;
          border-top: 0px solid #ccc;
        }
      }

      tr:nth-child(4) {
        td {
          text-align: center;
        }
      }
    }

    .dfc-report-line {
      height: 100%;
      width: 100%;
      transform: rotate(5deg);
      -webkit-transform: rotate(5deg);

      div:first-child {
        height: 50%;
        width: 100%;
        border-bottom: 1px solid #ccc;
      }

      div:last-child {
        height: 50%;
        width: 100%;
      }
    }
  }
}

.dfc-icon-tip {
  position: relative;
  display: inline-block;

  .dfc-icon-tip-txt {
    font-size: 12px;
    color: #fff;
    border: 1px solid #505050;
    margin-top: -25px;
    padding-left: 1px;
    width: 32px;
    background-color: rgba(90, 90, 90, 0.3);
    z-index: -1;
    position: absolute;
    border-radius: 3px;
  }
}

.dfc-icon-tip:hover {
  .dfc-icon-tip-txt {
    z-index: 99;
  }
}


.dfc-table-design {
  background-color: #ff0301;
}

.dfc-table-actual {
  background-color: #00b050;
}

.actual-sty {
  text-decoration-line: underline;
  cursor: pointer;
}
