.body {
  margin: 0 1%;
  width: 100%;
}

.content {
  margin: 0 -15px;
  min-height: 0px;
  font-size: 20px;
}

th {
  width: 120px;
  text-align: center;
}

nz-table th{
  text-align: center;
}

td {
  text-align: center;
}

table {
  display: inline-block;
  margin: 5px 7px 0px 7px;
}
table thead tr{
  border: 1px solid black;
  background: #BFBFBF;
  color: white;
}
table button{
  border: 1px black solid;
  background-color: #7F7F7F;
  color: white;
  width: 60px;
}
.options {
  display: flex;
  justify-content: space-around;
}
.options-table{
  margin-right: 20px;
}

.input{
  margin-bottom: 10px;
}

.input span{
  display: inline-block;
  margin-right: 15px;
  width: 75px;
}
input{
  width: 150px;
}
.risk-table{
  color: black;
}
.risk-table th{
  color: black;
  border: 1px black solid;
  font-size: 14px;
  font-weight: 500;
  width: 140px;
}
.risk-table td{
  color: black;
  font-size: 14px;
  font-weight: 500;
  border: 1px black solid;
}
.risk-input{
  display: inline-block;
  width: 55px;
  text-align: center;
}
.add{
  margin-left: 10px;
}
.tips{
  background: red;
}
.tip{
  float: right;
  font-size: 12px;
  color: #7F7F7F;
  margin-right: 50px;
}
