.pie-chart {
    height: 14vw;
    width: 100%;
    margin-top: 2vw;
  }
  a:link {
    color: #000000;
  }

  a:hover {
    color: #000000;
  }

  a:visited {
    color: #000000;
  }

  a:active {
    color: #000000;
  }
