.table-cls {
  display: flex;
  justify-content: center;
  align-items: center;
  .table-inner{
    width:75%;
    height: 100%;
  }
  .editButton {
    //消除button的默认样式
    margin: 0;
    padding: 0;
    border: 1px solid transparent;  //自定义边框
    outline: none;    //消除默认点击蓝色边框效果
    background-color: transparent;
  }
}

.dfq-btn-add {
  margin-bottom: 5px;
}

.input-cls {
  margin-bottom: 25px;
}

// table的th居中顯示
::ng-deep .nz-table .ant-table-thead > tr > th {
  text-align: center;
}

// table的td居中顯示
.ant-table-tbody > tr > td {
  text-align: center;
}


// 新增彈框內容居中
::ng-deep .model-cls .ant-modal-body {
  text-align: center;
  height: 180px;
}
