<!-- 新餅圖 -->
<nz-spin nzSimple [nzSpinning]="isLoading" [nzSize]="'large'">
  <div class="board-row">
    <div class="board-row-dfc">
      <div class="section">
        <div style="width:160px">
          <div class="title">DFQ</div>
          <span>KPI:{{ 'dashboard.yieldPrediction' | translate }}<br>
            {{ 'dashboard.productMaintain' | translate }}</span>
        </div>
      </div>
      <div class="section" *ngFor="let options of WorkProgressChartOptions">
        <app-pie-chart [title]="options.title" [subtext]="options.subtext" [data]="options.data" [width]="options.width"
          [height]="options.height" (clickChart)="onChartEventRFI($event)">
        </app-pie-chart>
      </div>
    </div>
  </div>
  <br>
</nz-spin>