$centerHeight: calc(100vh - 95px);
.dfc-all{
	height: $centerHeight;
	width: 100%;
}

.dfc-query{
	margin-top:17px;
  width: 100%;
  min-height: 32px;
	display: flex;
  align-items: center;
	span{
		font-size:14px;
		font-weight: normal;
	}

    .dfc-query-half{
        width: 100%;
        display: flex;
        align-items: center;
        div{
            width: 25%;
            .dfc-query-span{
                width: 100px;
                text-align: right;
                display: inline-block;
			}
			nz-select{
				margin-left: 10px;

				width: calc(100% - 125px);
				font-size: 14px;
				text-align: left;
				color: rgba(80, 80, 80, 1);
				background-color: rgba(255, 255, 255, 1);
			}
			input{
				margin-left: 10px;
				width: 400px;
				font-size: 14px;
				text-align: left;
				color: rgba(80, 80, 80, 1);
				background-color: rgba(255, 255, 255, 1);
				border: rgba(204, 204, 204, 1) solid 0px;
			}
		}
		.dfc-query-btn{
			width: 83px;
			button{
				margin-left: 10px;
				width: 73px;
			}
		}
	}
	.dfc-query-full{
        width: 100%;
        display: flex;
        align-items: center;
        div{
			width: 99%;
			nz-select{
				margin-left: 10px;
				// width: 930px;
				// font-size: 14px;
				// text-align: left;
				// color: rgba(80, 80, 80, 1);
				// background-color: rgba(255, 255, 255, 1);
				// border: rgba(204, 204, 204, 1) solid 0px;

				width: calc(100% - 125px);
				font-size: 14px;
				text-align: left;
				color: rgba(80, 80, 80, 1);
				background-color: rgba(255, 255, 255, 1);
			}
			input{
				margin-left: 10px;
				width: 930px;
				font-size: 14px;
				text-align: left;
				color: rgba(80, 80, 80, 1);
				background-color: rgba(255, 255, 255, 1);
				border: rgba(204, 204, 204, 1) solid 0px;
			}
      .dfc-query-span{
          width: 100px;
          text-align: right;
          display: inline-block;
      }
    }
  }


}

.dfc-line{
	margin-top: 19px;
	color: rgba(80, 80, 80, 1);
	background-color: rgba(212, 212, 212, 1);
	width: 100%;
	height: 1px;
}

.send-complete {
  margin: 10px;
  width: 100%;
  padding: 10px;
  min-height: 50px;
  // border: 1px solid #505050;
  .send-left {
    display: flex;
    align-items: center;

    .textarea {
      height: 75px;
    }
  }

  .send-center {

    .center-button {
      display: flex;
      justify-content: space-around;

      button {
        margin-top: 5px;
        height: 30px;
        color: #fff;
        background-color: #000;
      }
    }
  }
  .send-right {
    button {
      height: 35px;
      margin-top: 20px;
    }
  }
}

.dfc-btn{
	margin-top:20px;
	width: 100%;
	height: 36px;
	position: relative;
	display: flex;
  align-items: center;

	.dfc-btn-left{
		display: flex;
		align-items: center;
		float: left;
		margin-right: 30px;
	}
	.dfc-btn-center{
		// float: left;
		display: flex;
		align-items: center;
		// justify-content: center;
		span{
			font-size:14px;
			font-weight: normal;
			color: rgba(80, 80, 80, 1);
		}
		div{
			margin-left: 10px;
			margin-right: 5px;
		}
	}
	.dfc-btn-right{
		position: absolute;
		right: 0;
		float: right;
		width: 435px;
		height: 100%;
		display: flex;
    align-items: flex-end;
		.dfc-btn-upload{
			height: 100%;
			width: 242px;
			display: inline-block;
		}
		.dfc-btn-download{
			margin-left: 12px;
			height: 100%;
      width: 36px;
			display: inline-block;
		}
		.dfc-btn-email{
			margin-left: 12px;
			height: 100%;
			width: 36px;
			display: inline-block;
    }
    .dfc-btn-sendComplete{
      height: 100%;
      display: inline-block;
      font-size: 14px;
    }
		label.upload {
			margin: 0;
		}
		.upload {
			input {
			  display: none;
			}
			i {
			  vertical-align: bottom;
			}
		}
		div.fakeInput {
			margin-left: 10px;
			display: inline-block;
			width: 200px;
			color: #505050;
			background-color: white;
			border-radius: 3px 0px 0px 3px;
			font-size: 14px;
			font-weight: normal;
			line-height: 150%;
			border: #cccccc solid 1px;
			text-align: left;
			height: 32px;
			cursor: pointer;

			span {
			  padding-left: 10px;
			  vertical-align: sub;
			  color: #999;
			}
		}
		.ant-btn.upload{
			border-radius: 0 4px 4px 0;
		}
	}
	.spin {
		position: fixed;
		top: 100px;
		left: 49%;
	}
}

.dfc-table{
	margin-top:9px;
	width: 100%;
    // height: calc(100vh - 261px);
	// overflow-x: auto;
	// nz-table{
	// 	table-layout: fixed;
	// 	white-space: nowrap;
	// }
	th{
		text-align: center;
	}
	// td{
	// 	white-space: nowrap;
	// 	text-overflow: ellipsis;
	// 	overflow: hidden;
	// }
	input{
		height: 20px;
		text-align: right;
		// width: 80%;/
	}
}

.dfc-delAfter-icon{
	height: 100px;
	width: 100%;
	color: rgba(0, 169, 157, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	i {
		font-size: 76px;
	}
}
.dfc-delAfter-text{
	width: 238px;
	height: 46px;
	margin-left: 22px;
	padding: 10px;
	text-align: center;
	span{
		color:rgba(80, 80, 80, 1);
		font-size: 18px;
	}
}

.dfc-add-list{
    width: 100%;
    max-height: 440px;
    overflow-x: auto;
	div{
		width: 100%;
		height: 40px;
		padding: 5px;
		font-size: 14px;
		text-align: right;
	}

    td{
        text-align: left;
        input{
            width: 270px;
            color: rgba(80, 80, 80, 1);
            background-color: rgba(255, 255, 255, 1);
            border-radius: 3px;
            font-size: 14px;
            font-weight: normal;
            line-height: 150%;
            border: rgba(204, 204, 204, 1) solid 1px;
            text-align: left;
		}
		nz-input-number{
            width: 270px;
            font-size: 14px;
            text-align: left;
            color: rgba(80, 80, 80, 1);
            background-color: rgba(255, 255, 255, 1);
        }
        nz-select{
            width: 270px;
            font-size: 14px;
            text-align: left;
            color: rgba(80, 80, 80, 1);
            background-color: rgba(255, 255, 255, 1);
        }
    }
}

.dfc-echart {
	background-color: rgba(255, 255, 255, 1);
	margin-top: 20px;
}

.orange-circle,
.green-circle,
.red-circle {
	display: inline-block;
}

.dfc-icon-tip {
	position: relative;
	display: inline-block;
	.dfc-icon-tip-txt {
	  font-size: 12px;
	  color: #fff;
	  border: 1px solid #505050;
	  margin-top: -25px;
	  padding-left: 1px;
	  width: 32px;
	  background-color: rgba(90, 90, 90, 0.3);
	  z-index: -1;
	  position: absolute;
	  border-radius: 3px;
	}
  }

  .dfc-icon-tip:hover {
	.dfc-icon-tip-txt {
	  z-index: 99;
	}
  }

//   篩選
.custom-filter-dropdown {
	padding: 8px;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

// [nz-input] {
// 	width: 130px;
// 	margin-right: 8px;
// }
.dfc-send{
  width: 100%;
  padding: 5px;
  table{
    width: 100%;
    font-size: 14px;
    td{
      padding: 5px;
      nz-select{
        width: 100%
      }
    }

  }
}
