<nz-breadcrumb>
  <nz-breadcrumb-item>MRR System</nz-breadcrumb-item>
  <nz-breadcrumb-item>IMQM</nz-breadcrumb-item>
  <nz-breadcrumb-item>{{'imq-menu-magBoard' | translate}}</nz-breadcrumb-item>
  <nz-breadcrumb-item>Summary</nz-breadcrumb-item>
</nz-breadcrumb>
<app-imqm-select [subject]="subject" [onlyShowRequired]="require" (queryOps)="query($event)"></app-imqm-select>

<!-- 供应商材料YR -->
<div style="float: left; width: 49%; height:18vw;" *ngIf="materialProductYRBarData">
  <app-material-end-product [barOptions]="materialProductYRBarData"  (trdDetail)="detailAnalyze($event)" (subDetail)="showSubDetailYR($event, 'Y/R')"></app-material-end-product>
</div>

<!-- 纬创材料DR -->
<div style="float: right; width: 49%; height:18vw;" *ngIf="materialPDDRBarData">
  <app-material-end-product [barOptions] = "materialPDDRBarData" (subDetail)="showSubDetailPD($event, 'D/R', '')"></app-material-end-product>
</div>

<!-- 供应商OS/预警看板 -->
<div style="width:100%; height: 16vw;margin-top: 22vw;" *ngIf="materialAlertBarData">
  <app-material-alert-product [options] = "materialAlertBarData" (subDetail)="showSubDetailAlert($event)"></app-material-alert-product>
</div>

<!-- 纬创材料NG追溯 -->
<div style="width:100%; height: 14vw;" *ngIf="materialNGBarData">
  <app-material-ng [options]="materialNGBarData" (subDetail)="showSubDetailNG($event)"></app-material-ng>
</div>

<!-- 供应商材料YR 第二层 -->
<app-pop-yr [data]="dataYr" [drAnalyze]="defectLossAnalyze" (yrAnalyzeDetail)="detailAnalyze($event)"></app-pop-yr>
<app-pop-dr [data]="dataDr"></app-pop-dr>
<app-pop-alert [data]="dataAlert" (dateItem)="showFormDetail($event)"></app-pop-alert>
<app-pop-ng [data]="dataNg" (dateItem)="showFormDetail($event)"></app-pop-ng>

<app-pop-spc-detail [data]="subFormsList"></app-pop-spc-detail>
