.chart {
  width: 200px;
  height: 200px;
  // display: inline-flex;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  margin-left: 10px;
  // background: green;
  float: left;
}

