$centerHeight: calc(100vh - 95px);

.mrr-material-all {
  height: $centerHeight;
  width: 100%;
}

.SQMs-Table {
  margin-top: 10px;

  th {
    text-align: center;
  }

  td {
    text-align: center;
  }
}

.manuModal {
  th {
    text-align: center;
  }

  td {
    text-align: center;
  }
}