.content {
  margin: 0 -15px;
  min-height: 0px;
  font-size: 20px;
}
.subPopPDStyle {
  width: 100%;
}
.subPopYRStyle {
  width: 60%;
  float: left;
}
.trdPopYRStyle {
  width: 40%;
  display:inline-block;
}
.strdPopPDStyle {
  width: 0%;
}
.hiddenOne {
  display: none;
}
.displayOne {
  // display: inline-block;
}
