.body {
  margin: 0 1%;
}

.content {
  margin: 0 -15px;
  min-height: 0px;
  font-size: 20px;
}

.search {
  width: 170px;
  margin-right: 0;
  display:inline-block;
}

.ant-input-group.ant-input-group-compact {
  border-radius: 3px;
}

.checkbox {
  display: flex;
  align-content: center;
}

.function {
  margin: 0 5px;
}

.function td {
  background-color: rgba(117, 117, 117, 1);
  color: white;
  font-weight: bold;
  border: 1px solid white;
}

.function th {
  background-color: #333;
  color: white;
  font-weight: normal;
  border: 1px solid white;
}

.ant-divider {
  margin: 16px 0;
}

.content2 {
  margin: 0 5px;
}

.content2 td {
  background-color: rgba(117, 117, 117, 1);
  color: white;
  font-weight: bold;
  border: 1px solid white;
}

.content2 th {
  background-color: #333;
  color: white;
  font-weight: normal;
  border: 1px solid white;
}

.content2 {
  display: flex;
  justify-content: space-around;
}

span {
  font-size: 14px;
}

.query-row {
  margin-bottom: 15px;
  min-width: 1100px;

  .field1 {
    display: inline-block;

    span {
      width: 105px;
      display: inline-block;
      text-align: right;
      margin-right: 10px;
    }
  }

  .field2 {
    display: inline-block;

    span {
      width: 120px;
      display: inline-block;
      text-align: right;
      margin-right: 10px;
    }
  }

  .field {
    display: inline-block;

    span {
      display: inline-block;
      text-align: right;
      margin-right: 10px;
    }
  }

  .field3 {
    display: inline-block;

    span {
      width: 375px;
      display: inline-block;
      text-align: right;
      margin-right: 10px;
    }
  }

  .field5 {
    display: inline-block;

    span {
      width: 124px;
      display: inline-block;
      text-align: right;
      margin-right: 10px;
    }
  }

  .field6 {
    display: inline-block;

    span {
      width: 108px;
      display: inline-block;
      text-align: right;
      margin-right: 10px;
    }
  }

  .field4 {
    display: inline-block;

    span {
      width: 50px;
      display: inline-block;
      text-align: right;
      margin-right: 10px;
    }
  }

  label {
    font-weight: normal;
  }

  button {
    margin-left: 5px;
  }
}

nz-select {
  width: 98px;
  margin-right: 15px;
}

[nz-input] {
  width: 240px;
  margin-right: 15px;
}

#row1 {
  width: 170px;
  height: 32px;
  margin-right: 30px;
  display: inline-block;
  background-color: white;
  padding-left: 10px;
  padding-top: 6px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
}

#row1comments {
  width: 670px;
  font-size: 14px;
  font-weight: normal;
}

#comments {
  width: 368px;
}

.history {
  border: 0.5px solid rgba(216, 216, 216, 1);
  height: 54px;
}

a {
  color: rgba(42, 130, 228, 1);
}

#dark {
  background-color: #333;
  color: #fff;
  width: 300px;
  height: 50px;
  text-align: center;
  font-weight: normal;
}


#light {
  background-color: #757575;
  color: #fff;
  width: 300px;
  height: 50px;
  text-align: center;
  font-weight: normal;
}

$green: #059965;
$red: #cc0033;
$orange:orange;
