.body {
  margin: 0 1%;
  width: 100%;
}
.mapping-transfer {
  margin-top: 10px;
  text-align: center;
}
.transfer {
  text-align: left;
  display: inline-block;
  margin-left:15px;
  margin-right: 15px;
}
nz-select {
  width: 150px;
  margin-right: 15px;
}
