$centerHeight: calc(100vh - 95px);

.dfc-all {
  height: $centerHeight;
  width: 100%;
}

// .dfc-query {
//   margin-top: 17px;
//   width: 100%;
//   height: 32px;
//   display: flex;
//   align-items: center;

//   span {
//     font-size: 14px;
//     font-weight: normal;
//   }

//   input {
//     margin-left: 10px;
//     display: inline-block;
//     width: 200px;
//     color: rgba(80, 80, 80, 1);
//     background-color: rgba(255, 255, 255, 1);
//     border-radius: 3px;
//     font-size: 14px;
//     font-weight: normal;
//     line-height: 150%;
//     border: rgba(204, 204, 204, 1) solid 1px;
//     text-align: left;
//   }

//   nz-select {
//     margin-left: 10px;
//     width: 200px;
//     font-size: 14px;
//     text-align: left;
//     color: rgba(80, 80, 80, 1);
//     background-color: rgba(255, 255, 255, 1);
//     border: rgba(204, 204, 204, 1) solid 0px;
//   }

//   .dfc-query-input {
//     display: flex;
//     align-items: center;
//   }

//   .dfc-query-btn {
//     width: 83px;

//     button {
//       margin-left: 10px;
//       width: 73px;
//     }
//   }
// }

.dfc-query{
	margin-top:10px;
  width: 100%;
  overflow: hidden;
  div{
    min-height: 42px;
    display: block;
    float: left;
  }
  .dfc-query-showAll{
    label{
      margin-top: 20px;
    }
  }
  .dfc-query-btn{
    margin-top:10px;
    margin-right: 10px;
    width: 73px;
    button{
        width: 73px;
    }
  }
}

.dfc-line {
  margin-top: 19px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(212, 212, 212, 1);
  width: 100%;
  height: 1px;
}

.dfc-btn {
  margin-top: 20px;
  width: 100%;
  height: 36px;
  position: relative;

  .dfc-btn-delete {
    float: left;
  }

  .dfc-btn-right {
    position: absolute;
    right: 0;
    float: right;
    // width: 330px;
    height: 100%;

    .dfc-btn-upload {
      height: 100%;
      // width: 282px;
      float: left;
    }

    .dfc-btn-download {
      margin-left: 12px;
      height: 100%;
      width: 36px;
      float: right;
    }
  }
}

.dfc-table {
  margin-top: 9px;
  width: 100%;
  // height: calc(100vh - 261px);

  input {
    height: 20px;
    text-align: right;
    width: 80%;
  }
}

.dfc-proCode-table {
  width: 100%;
  min-height: 204px;
  display: flex;
  justify-content: center;
}

.dfc-schedule-list {
  width: 100%;
  height: 400px;

  table tr {
    background-color: #fff;
  }

  div {
    width: 100%;
    height: 48px;
    padding: 8px;
    font-size: 14px;
    position: relative;

    span {
      position: absolute;
      right: 7px;
      top: 10px;
    }
  }
  input {
    width: 175px;
  }
}

.dfc-delAfter-icon {
  height: 100px;
  width: 100%;
  color: rgba(0, 169, 157, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 76px;
  }
}

.dfc-delAfter-text {
  width: 238px;
  height: 46px;
  margin-left: 22px;
  padding: 10px;
  text-align: center;

  span {
    color: rgba(80, 80, 80, 1);
    font-size: 18px;
  }
}

.dfc-addProjectName-list {
  width: 100%;

  table tr {
    background-color: #fff;
  }

  div {
    width: 100%;
    height: 48px;
    padding: 8px;
    font-size: 14px;
    position: relative;

    span {
      position: absolute;
      right: 7px;
      top: 10px;
    }
  }

  .dfc-addProjectName-input {
    width: 150px;
    color: rgba(80, 80, 80, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    line-height: 150%;
    border: rgba(204, 204, 204, 1) solid 1px;
    text-align: left;
  }

  .dfc-addProjectName-tips {
    width: 100%;
    height: 20px;
    // position: relative;
    text-align: left;

    span {
      // position: absolute;
      color: red;
      font-size: 8px;
      // left: 7px;
    }
  }
}

.blue {
  a {
    color: #2790eb;
  }

  a:hover {
    color: #75b9f5;
  }
}

.dfc-addProjectName-list {
  width: 100%;

  table tr {
    background-color: #fff;
  }

  div {
    width: 100%;
    height: 48px;
    padding: 8px;
    font-size: 14px;
    position: relative;

    span {
      position: absolute;
      right: 7px;
      top: 10px;
    }
  }

  .dfc-addProjectName-input {
    width: 150px;
    color: rgba(80, 80, 80, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    line-height: 150%;
    border: rgba(204, 204, 204, 1) solid 1px;
    text-align: left;
  }

  .dfc-addProjectName-tips {
    width: 100%;
    height: 20px;
    // position: relative;
    text-align: left;

    span {
      // position: absolute;
      color: red;
      font-size: 8px;
      // left: 7px;
    }
  }
}

.dfc-proMember {
  // height: 100%;
  width: 100%;

  .dfc-proMember-span {
    width: 20%;
    text-align: right;
    display: inline-block;
    padding: 5px;
    font-size: 14px;
  }

  .dfc-proMember-select {
    width: 70%;
    padding: 5px;
    font-size: 14px;
    text-align: left;
    display: inline-block;

    nz-select {
      width: 150px;
    }
  }
}

label.upload {
  margin: 0;
}

.upload {
  input {
    display: none;
  }

  i {
    vertical-align: bottom;
  }
}

div.fakeInput {
  margin-left: 10px;
  display: inline-block;
  width: 210px;
  color: #505050;
  background-color: white;
  border-radius: 3px 0px 0px 3px;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
  border: #cccccc solid 1px;
  text-align: left;
  height: 32px;
  cursor: pointer;

  span {
    padding-left: 10px;
    vertical-align: sub;
    color: #999;
  }
}

.spin {
  position: fixed;
  top: 100px;
  left: 49%;
}

.ant-btn.upload {
  border-radius: 0 4px 4px 0;
}

.site {
  font-weight: normal;
  position: absolute;
  left: -200px;
  display: inline-flex;
  align-items: center;

  .dfc-query-span {
    margin-right: 10px;
  }

  nz-select {
    width: 150px;
  }
}

.dfc-icon-tip {
  position: relative;
  display: inline-block;
  .dfc-icon-tip-txt {
    font-size: 12px;
    color: #fff;
    border: 1px solid #505050;
    margin-top: -25px;
    padding-left: 1px;
    width: 32px;
    background-color: rgba(90, 90, 90, 0.3);
    z-index: -1;
    position: absolute;
    border-radius: 3px;
  }
}

.dfc-icon-tip:hover {
  .dfc-icon-tip-txt {
    z-index: 99;
  }
}

.mr-20px {
  margin-right: 20px;
}

.dfc-factorDetail {
  width: 200px;
  height: 60px;
  padding: 8px;
  font-size: 14px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

// 關閉model的顏色
::ng-deep .model-cls .ant-modal-close-x {
  color: #ffffff;
}

// 查看icon大小設置
::ng-deep .anticon anticon-eye .anticon {
  font-size: 40px;
}


// mrr理由填寫彈框內容居中
::ng-deep .model-cls .ant-modal-body {
  text-align: center;
}


.search-cls {
  display: inline;
  font-weight: 400;
  float: right;

  i {
    vertical-align: bottom;
  }
}

.search-cls2 {
  display: inline;
  font-weight: 400;
  float: right;
  i {
    vertical-align: bottom;
  }
}


.search-box {
  padding: 8px;
  position: absolute;
  top: -80px;
  left: 10px;
  background-color: darkgray;
  border-radius: 4px;
}

.search-box2 {
  padding: 8px;
  position: absolute;
  top: -80px;
  left: 220px;
  width: 30%;
  background-color: darkgray;
  border-radius: 4px;
}


.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-box2 button {
  width: 90px;
  margin-top: 8px;
}

.search-button {
  margin-right: 8px;
}