<!-- 點擊刪除, 選擇是否刪除 -->
<nz-modal nzWrapClassName="vertical-center-modal" [nzWidth]="300" [(nzVisible)]="!isAfterDeleteVisible" nzTitle="Delete"
  (nzOnCancel)="cancelDelete()" [nzFooter]="modalDeleteFooter">
  {{'military-order.confirm-del' | translate}}
  <ng-template #modalDeleteFooter>
    <button nz-button nzType="default" (click)="cancelDelete()">Cancel</button>
    <button nz-button nzType="primary" (click)="Delete()">Delete</button>
  </ng-template>
</nz-modal>
<!-- 刪除后提示 -->
<nz-modal nzWrapClassName="vertical-center-modal" [nzWidth]="282" [nzStyle]="{ height: '202px' }"
  [(nzVisible)]="isAfterDeleteVisible" [nzClosable]="false" [nzCancelText]="null" [nzOkText]="null" [nzFooter]="null"
  nzTitle="">
  <div class="dfc-delAfter-icon">
    <i class="anticon anticon-check"></i>
  </div>
  <div class="dfc-delAfter-text">
    <span>{{'military-order.deleted' | translate}}</span>
  </div>
</nz-modal>