.body {
  margin: 0 1%;
}

.content {
  margin: 0 -15px;
  min-height: 0px;
  font-size: 20px;
}

span {
  font-size: 14px;
}

nz-select {
  width: 200px;
  margin-right: 15px;
}

.dfc-query-btn {
  float: left;
  width: 60px;
}

.table-cls {
  th {
    text-align: center;
  }

  td {
    text-align: center;
  }
}

// input {
//  display: inline-block;
//  width: 200px;
// }
.selectmodel-cls {
  nz-select {
    width: 750px;
  }
}

.query-cls {
  float: left;
  margin-left: 10px;
}

.dfc-query {
  width: 100%;

  // background: red;
  .dfc-query-half {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;

    // background-color: skyblue;
    .dfc-query-span {
      float: left;
      width: 25%;

      nz-select {
        width: 70%;
        margin-right: 10px;
      }

      .span-cls {
        margin-right: 8px;
      }
    }

    .dfc-query-span2 {
      float: left;
      width: 85%;

      .span-cls {
        margin-right: 5px;
      }

      nz-select {
        width: 80%;
        margin-right: 15px;
      }
    }

  }
}

.link-cls {
  border-bottom: 1px solid black;
}

.model-input-cls {
  width: 200px;
}

.input-cls {
  display: inline-flex;
  float: left;
  margin-left: 9%;
  width: 400px;
  height: 60px;
}

.model-span-cls {
  display: inline-flex;
  float: left;
  margin-left: 5%;
  width: 80px;
}

::ng-deep .dfc-btn {
  margin-top: 20px;
  width: 100%;
  height: 36px;
  position: relative;
  margin-bottom: 10px;

  .dfc-btn-add {
    margin-left: 12px;
    margin-bottom: 6px;
    height: 100%;
    float: left;
    display: inline-flex;
  }

  .dfc-btn-right {
    position: absolute;
    right: 0;
    float: left;
    width: 650px;
    height: 100%;
    display: inline-flex;


    .dfc-btn-upload {
      display: inline-flex;
      height: 100%;
      float: left;
      .text {
        float: right;
        font-weight: 400;
      }
    }

    .dfc-btn-download {
      margin-left: 12px;
      margin-bottom: 6px;
      height: 100%;
      float: left;
    }

    .upload {
      margin-left: 0;
    }
  }


}

.text {
  padding-top: 5px;
  padding-right: 5px;
}

.search-cls {
  display: inline;
  font-weight: 400;
  float: right;

  i {
    vertical-align: bottom;
  }
}

.search-cls :hover {
  background: black;
  cursor: pointer;

}


div.fakeInput {
  margin-left: 10px;
  display: inline-block;
  width: 210px;
  color: #505050;
  background-color: white;
  border-radius: 3px 0px 0px 3px;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
  border: #cccccc solid 1px;
  text-align: left;
  height: 32px;
  cursor: pointer;

  span {
    padding-left: 10px;
    vertical-align: sub;
    color: #999;
  }
}

.upload {
  input {
    display: none;
  }

  i {
    vertical-align: bottom;
  }
}

.search-box {
  padding: 8px;
  position: absolute;
  top: -80px;
  left: -10px;
  background-color: darkgray;
  border-radius: 4px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.ant-table-filter-dropdown .ant-dropdown-menu {
  border: 0;
  box-shadow: none;
  border-radius: 4px 4px 0 0;
  scroll-behavior: smooth;
  height: 600px;
  overflow: auto;
}

//  -----test--------

// .ratio-table-cls {
//   width: 90%;
//   margin: 0 !important;
//   height: 50% !important;
//   }

//   ::ng-deep .table-cls {
//   width: 100% !important;
//   height: 18% !important;
//   /* background: green; */
//   }

//   ::ng-deep .ant-table-body {
//   height: 31px;
//   }

//   ::ng-deep .ant-table-thead>tr>th {
//   padding: 0;
//   text-align: center;
//   // background: #eeeeee;
//   /* background: #333333;
//   background: #cccccc; */
//   }

//   ::ng-deep .ant-table-row {
//   height: 40px !important;
//   }

//   ::ng-deep .ant-table-placeholder {
//   height: 90%;
//   /* padding: 0; */
//   }
//   ::ng-deep .ant-table-content {
//   height: 150px;
//   /* background: pink; */
//   }
//   ::ng-deep .ant-table {
//   clear: none;
//   }
//   ::ng-deep .ant-table table {
//   text-align: center;
//   }

//   ::ng-deep .ant-table-tbody>tr>td {
//   padding: 0 !important;
//   // background: green;
//   // background: rgb(145, 196, 202);
//   }
//   // ::ng-deep .ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
//   // background: rgb(145, 196, 202);
//   // }

//   .edit-cls {
//   width: 80% !important;
//   height: 30px !important;
//   // background: #fff !important;
//   }
//   ::ng-deep .ant-input {
//   // background: white;
//   height: 30px;
//   }
// -----test--------
