.tr-headstyle {
  background-color: #333;
  color: white;
  text-align: center;
}
.loadmore{
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
  background-color: white;
}
.chartX {
  height: 200px;
  width: 90%;
}
button {
  display: inline-block;
  margin-left: 20px;
}
.p1 {
  border-bottom: 1px solid;
  width: 110%;
  margin-left: -9px;
  margin-top: -10px;
  text-align: center;
}
.p2 {
  width: 110%;
  margin-left: -9px;
  margin-bottom: -12px;
  text-align: center;
}
.span1 {
  display: inline-block;
  width: 50%;
  text-align: center;
}
.span2 {
  display: inline-block;
  width: 50%;
  border-right: 1px solid;
  text-align: center;
}
