body {
    margin: 0 8px;
    width: 100%;
    height: 100%;
  }

  html {
    height: 100%;
  }
  
  .content {
    margin: 0 -15px;
    min-height: 0px;
    font-size: 20px;
    a {
      i {
        padding-left: 1%;
        cursor: pointer;
      }
    }
  }

  .echartcontent
  {
    background-color:white;
    margin-top: 0px;
    height: 500px;
    width: 100%;
  }

  span {
    font-size: 13px;
  }
  .query-row {
    margin-bottom: 5px;
    width: 100%;
    // min-width: 1330px;
  
    .field0 {
      display: inline-block;
      width: 40px;
    }

    .field1 {
      display: inline-block;
      width: 19%;
  
      span {
        // width: 105px;
        display: inline-block;
        margin-right: 4%;
        text-align: right;
      }
    }

    .field1_1 {
      display: inline-block;
      width: 12%;
  
      span {
        // width: 105px;
        display: inline-block;
        margin-right: 1%;
      }
    }

    .field1_2 {
      display: inline-block;
      width: 10%;
  
      span {
        // width: 105px;
        display: inline-block;
        margin-right: 1%;
      }
    }
    .field1_3 {
      display: inline-block;
      width: 19%;
  
      span {
        // width: 105px;
        display: inline-block;
        margin-right: 4%;
        text-align: right;
      }
    }

    .field1_4 {
      display: inline-block;
      width: 20%;
  
      span {
        // width: 105px;
        display: inline-block;
        margin-right: 1%;
        text-align: right;
      }
    }

    .field1_5 {
      display: inline-block;
      width: 8%;
  
      span {
        // width: 105px;
        display: inline-block;
        margin-right: 1%;
      }
    }

    .field7 {
        display: inline-block;
        width: 25%;
    
        span {
          // width: 105px;
          display: inline-block;
          margin-right: 1%;
        }
    }

    .field8 {
      display: inline-block;
      width: 33%;
      height: 40%
  
      span {
        // width: 105px;
        display: inline-block;
        margin-right: 2%;
      }
   }

   .field9 {
    display: inline-block;
    vertical-align:middle;
    width: 40%;
    height: 40%;
    font-size: 12px;

    span {
      // width: 105px;
      display: inline-block;
      margin-right: 2%;
    }
   }

   .field10 {
    display: inline-block;
    width: 30%;
    height: 240px

    span {
      // width: 105px;
      display: inline-block;
      margin-right: 2%;
    }
   }
  
    .field2 {
      display: inline-block;
  
      span {
        width: 120px;
        display: inline-block;
        text-align: right;
        margin-right: 10px;
      }
    }
  
    .field {
      display: inline-block;
      width: 17%;
  
      span {
        display: inline-block;
        text-align: right;
        margin-right: 3%;
      }
    }
  
    .field3 {
      display: inline-block;
  
      span {
        width: 375px;
        display: inline-block;
        text-align: right;
        margin-right: 10px;
      }
    }
  
    .field5 {
      display: inline-block;
  
      span {
        width: 108px;
        display: inline-block;
        text-align: right;
        margin-right: 10px;
      }
    }
  
    .field4 {
      display: inline-block;
  
      span {
        width: 50px;
        display: inline-block;
        text-align: right;
        margin-right: 10px;
      }
    }
  
    .field6 {
      display: inline-block;
      margin-right: 15px;
  
      span {
        width: 20px;
        display: inline-block;
        text-align: right;
        margin-right: 10px;
      }
    }
  
    label {
      font-weight: normal;
    }
  
    button {
      margin-left: 5px;
    }
  }
  
  nz-select {
    width: 60%;
    // margin-right: 15px;
  }
  .table-divider {
    float: left;
    margin: 0 auto;
    height: 20px;
  }
  .add-span {
    display: block;
  }
  
  .upload {
    input {
      display: none;
    }
  
    i {
      vertical-align: bottom;
    }
  }
  
  .fakeInput {
    padding-top: 3px;
  }
  
  div.fakeInput {
    margin-left: 10px;
    display: inline-block;
    width: 210px;
    color: #505050;
    background-color: white;
    border-radius: 3px 0px 0px 3px;
    font-size: 14px;
    font-weight: normal;
    line-height: 150%;
    border: #cccccc solid 1px;
    text-align: left;
    height: 32px;
    cursor: pointer;
  
    span {
      padding-left: 10px;
      vertical-align: sub;
      color: #999;
    }
  }
  
  .upload-progress{
    width: 290px;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  .btn-upload {
    margin-left: -9px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* 定位 */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
  