.dfc-all{
	width: 100%;
}

// .dfc-query{
// 	margin-top:17px;
// 	width: 100%;
// 	height: 32px;
// 	display: flex;
//   align-items: center;

//   .dfc-query-4mol{
//     display: flex;
//     align-items: center;
//   }

//   .dfc-query-btn{
//       width: 83px;
//       button{
//           margin-left: 10px;
//           width: 73px;
//       }
//   }
// }


.dfc-query{
	margin-top:10px;
  width: 100%;
  overflow: hidden;
  div{
    height: 42px;
    display: block;
    float: left;
  }
  .dfc-query-btn{
    margin-top:10px;
    margin-right: 10px;
    width: 73px;
    button{
        width: 73px;
    }
  }
}
.dfc-line{
	margin-top: 19px;
	color: rgba(80, 80, 80, 1);
	background-color: rgba(212, 212, 212, 1);
	width: 100%;
	height: 1px;
}

.dfc-btn{
	margin-top:20px;
	width: 100%;
	height: 36px;
	position: relative;
	.dfc-btn-delete{
		float: left;
	}
	.dfc-btn-right{
		position: absolute;
		right: 0;
		float: right;
		width: 330px;
		height: 100%;
		.dfc-btn-upload{
			height: 100%;
			width: 282px;
			float: left;
		}
		.dfc-btn-download{
			margin-left: 12px;
			height: 100%;
			width: 36px;
			float: right;
		}
	}
}

.dfc-table{
	margin-top:9px;
	width: 100%;
	input{
		height: 20px;
		text-align: right;
		width: 80%;
	}
}
