<div class="mrr-material-all">
  <nz-breadcrumb>
    <nz-breadcrumb-item>MRR System</nz-breadcrumb-item>
    <nz-breadcrumb-item>{{ 'mrr.material-title' | translate }}</nz-breadcrumb-item>
    <nz-breadcrumb-item *ngIf="!routeFlag"><a style="border-bottom: 1px solid black;"
        (click)="goBackQuery()">{{ 'mrr.material-factory-select' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{ 'mrr.material-factory' | translate }}Top issue</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="margin-top: 12px;">
    <span style="font-size:20px;">{{ 'mrr.material-factory' | translate }}Top issue</span>
  </div>
  <div class="dfc-btn">
    <div class="dfc-btn-left">
      <button nz-button nzType="primary" [disabled]="topIssueData.length < 1" *ngIf="!issueEditFlag" (click)="edit()">
        <i class="anticon anticon-edit"></i>{{ 'mrr.mrr-edit' | translate }}
      </button>
      <button nz-button nzType="primary" *ngIf="issueEditFlag" (click)="save()">
        <i class="anticon anticon-save"></i>{{ 'mrr.mrr-saveData' | translate }}
      </button>
      <button nz-button nzType="default" *ngIf="issueEditFlag" (click)="cancel()">
        <i class="anticon anticon-close-circle"></i>{{ 'mrr.mrr-cancelEdit' | translate }}
      </button>
      <button nz-button nzType="primary" [disabled]="isExt || !submitFlag" (click)="submit()">
        <i class="anticon anticon-upload"></i>{{ 'mrr.mrr-notice' | translate }}
      </button>
    </div>
    <div class="dfc-btn-download">
      <button nz-button [nzType]="'primary'" title="Download" nzShape="circle" (click)="download()">
        <i class="anticon anticon-download"></i>
      </button>
    </div>
  </div>
  <div class="TopIssue-Table">
    <nz-table id="topIssueTable" #basicTable nzBordered nzShowQuickJumper [nzData]="topIssueData"
      nzShowPagination="false" [nzPageSize]="10">
      <thead>
        <tr>
          <th colspan="10">Top issue</th>
        </tr>
        <tr>
          <th>{{ 'mrr.material-issue' | translate }}</th>
          <th>{{ 'mrr.material-input' | translate }}</th>
          <th>{{ 'mrr.material-poor-amount' | translate }}</th>
          <th>{{ 'mrr.mrr-defective-rate' | translate }}</th>
          <th>{{ 'mrr.material-rootcause' | translate }}</th>
          <th>{{ 'mrr.material-action' | translate }}</th>
          <th>{{ 'mrr.material-owner' | translate }}</th>
          <th>{{ 'mrr.mrr-duedate' | translate }}</th>
          <th>{{ 'mrr.mrr-status' | translate }}</th>
          <th>{{ 'mrr.mrr-remark' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
          <td>{{ data.description }}</td>
          <td>{{ input }}</td>
          <td>{{ data.defectQty }}</td>
          <td>{{ (Mathround((data.defectQty / input) * 10000) /100) + '%' }}</td>
          <td>
            <ng-container *ngIf="!issueEditFlag || !isExt">
              {{ data.rootCause }}
            </ng-container>
            <ng-container *ngIf="issueEditFlag && isExt">
              <textarea nz-input style="width: 100px;" [(ngModel)]="topIssueDataCache[i].rootCause"></textarea>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!issueEditFlag || !isExt">
              {{ data.action }}
            </ng-container>
            <ng-container *ngIf="issueEditFlag && isExt">
              <textarea nz-input style="width: 100px;" [(ngModel)]="topIssueDataCache[i].action"></textarea>
            </ng-container>
          </td>
          <td>{{ data.owner }}</td>
          <td>
            <ng-container *ngIf="!issueEditFlag || !isExt">
              {{ data.dueDate ? (data.dueDate | date: 'yyyy-MM-dd') : '' }}
            </ng-container>
            <ng-container *ngIf="issueEditFlag && isExt">
              <nz-date-picker [attr.id]="'dueDate' + i" [(ngModel)]="topIssueDataCache[i].dueDate"
                [nzStyle]='{"width": "150px"}' [nzDisabledDate]="disabledDate">
              </nz-date-picker>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!issueEditFlag || isExt">
              <div [ngSwitch]="data.status" style="display: inline-block;">
                <div *ngSwitchCase="0" class="purple-circle"></div>
                <div *ngSwitchCase="1" class="red-circle"></div>
                <div *ngSwitchCase="2" class="orange1-circle"></div>
                <div *ngSwitchCase="3" class="orange-circle"></div>
                <div *ngSwitchCase="4" class="gray-circle"></div>
                <div *ngSwitchCase="5" class="green-circle"></div>
              </div>
              {{ data.status | issueStatus }}
            </ng-container>
            <ng-container *ngIf="issueEditFlag && !isExt">
              <nz-select style="width:150px;" [(ngModel)]="topIssueDataCache[i].status" nzAllowClear nzShowSearch
                [nzDropdownMatchSelectWidth]="false">
                <ng-container *ngFor="let list of statusList">
                  <nz-option nzCustomContent [nzValue]="list.value" [nzLabel]="list.label">
                    <div [ngSwitch]="list.value" style="display: inline-block;">
                      <div *ngSwitchCase="0" class="purple-circle"></div>
                      <div *ngSwitchCase="1" class="red-circle"></div>
                      <div *ngSwitchCase="2" class="orange1-circle"></div>
                      <div *ngSwitchCase="3" class="orange-circle"></div>
                      <div *ngSwitchCase="4" class="gray-circle"></div>
                      <div *ngSwitchCase="5" class="green-circle"></div>
                    </div>
                    {{list.label}}
                  </nz-option>
                </ng-container>
              </nz-select>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!issueEditFlag || !isExt">
              <div *ngIf="data.filePath && !data.docType"><a [ngStyle]="{'border-bottom': '1px solid black'}"
                  (click)="downIssueDoc(data.filePath)">{{ data.filePath }}</a></div>
              <img *ngIf="data.filePath && data.docType" [attr.src]="apiURL + data.filePath"
                style="max-width: 48px;max-height: 48px;" (click)="showIssuePicture(data.filePath)">
            </ng-container>
            <ng-container *ngIf="issueEditFlag && isExt">
              <div style="width:150px;">
                <button nz-button [nzType]="'primary'" [nzLoading]="isUploadLoading" (click)="manuPicUpload.click()"><i
                    nz-icon type="upload" theme="outline"></i>
                  {{ topIssueDataCache[i].filePath ? 'Change' : 'Add' }}
                </button>
                <input id="pic-upload" type="file" #manuPicUpload
                  (change)="handleManuPicUpload($event.target, topIssueDataCache[i])">
                <br>
                <span><i nz-icon type="paper-clip" theme="outline"
                    *ngIf="topIssueDataCache[i].filePath"></i>{{ topIssueDataCache[i].filePath }}</span>
              </div>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal [nzVisible]="showPicture" [nzContent]="modelShowPicture" [nzFooter]="null" (nzOnCancel)="showPicture=false"
  nzClosable="false">
  <ng-template #modelShowPicture>
    <img *ngIf="showPicSrc" [attr.src]="apiURL + showPicSrc" [ngStyle]="{ 'width': '100%' }" />
  </ng-template>
</nz-modal>