.uploadFile-cls{
  height: 40px;
  width: 200px;
  float: left;
}
.custom-upload-input {
  opacity: 0;
}

.query-wrapper {
  margin-top: 20px;
  nz-month-picker {
    padding-left: 15px;
  }
  button {
    margin-left: 15px;
  }
}
