// label.upload {
// 	margin: 0;
// }

.dfc-btn-upload{
  width: 95%;
}

// .dfc-btn-upload-input {
//   width: 180px;
// }

#file-upload {
  height: 0px;
  width: 0px;
  opacity: 0;
}

// div.fakeInput {
// 	margin-left: 10px;
// 	display: inline-block;
// 	width: 180px;
// 	color: #505050;
// 	background-color: white;
// 	border-radius: 3px 0px 0px 3px;
// 	font-size: 14px;
// 	font-weight: normal;
// 	line-height: 150%;
// 	border: #cccccc solid 1px;
// 	text-align: left;
// 	height: 32px;
// 	cursor: pointer;

// 	span {
// 	  padding-left: 10px;
// 	  vertical-align: sub;
// 	  color: #999;
// 	}
// }

// .spin {
// 	position: fixed;
// 	top: 100px;
// 	left: 49%;
// }

// .ant-btn.upload{
// 	border-radius: 0 4px 4px 0;
// }
