.workHour-selects {
  .select-first {
    padding: 5px 0;
  }

  .select-second {
    div {
      padding: 5px 0;
    }

    .second-down {
      display: flex;
      align-items: center;

      .second-left {
        width: 50%;
      }

      .second-right {
        display: flex;
        justify-content: space-around;
        width: 50%;

        button {
          height: 32px;
          line-height: 32px;
        }
      }
    }
  }
}

.workHour-table {
  th {
    text-align: center;
  }

  td {
    text-align: center;
  }
}

.dfc-query {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;

  div {
    min-height: 42px;
    display: block;
    float: left;
  }

  .dfc-query-btn {
    margin-top: 10px;
    margin-right: 10px;

    button {
      margin-left: 10px;

    }
  }
}

.dfc-report-content {
  height: 490px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .dfc-report-content-1 {
    height: 490px;
    width: calc(50% - 55px);

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;

      tr {
        height: 29.8px;

        td {
          text-align: left;
          font-size: 14px;
          border-left: 1px solid #ccc;
          border-top: 1px solid #ccc;
          padding-left: 10px;
          padding-right: 10px;
        }

        td:last-child {
          border-right: 1px solid #ccc;
          text-align: right;
        }
      }

      tr:nth-child(2n+1) {
        background-color: #f0f0f0;
      }

      tr:nth-child(2n) {
        background-color: #ffffff;
      }

      tr:first-child {
        background-color: #333;
        color: white;
        height: 33px;
        font-weight: bold;
        line-height: 150%;

        td:first-child {
          border-top-left-radius: 10px;
          text-align: center;
        }

        td:last-child {
          border-top-right-radius: 10px;
          text-align: center;
        }
      }

      tr:last-child {
        td {
          border-bottom: 1px solid #ccc;
        }

        td:first-child {
          border-bottom-left-radius: 10px;
        }

        td:last-child {
          border-bottom-right-radius: 10px;
        }
      }

    }
  }

  .dfc-report-content-2 {
    height: 490px;
    width: 55px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dfc-report-content-3 {
    height: 490px;
    width: 50%;

    table {
      height: 100%;
      width: 100%;

      tr {
        height: 4.7%;

        td {
          font-size: 14px;
          border-left: 1px solid #ccc;
          border-top: 1px solid #ccc;
        }

        td:nth-last-child(2) {
          text-align: right;
          padding-right: 10px;
        }

        td:last-child {
          text-align: right;
          padding-right: 10px;
          border-right: 1px solid #ccc;
        }
      }

      tr:first-child {
        height: 0%;

        td {
          border-left: 0px solid #ccc;
          border-top: 0px solid #ccc;
        }
      }

      tr:first-child {
        height: 0%;

        td {
          border-left: 0px solid #ccc;
          border-top: 0px solid #ccc;
        }
      }

      tr:nth-child(4) {
        td {
          text-align: center;
        }
      }
    }

    .dfc-report-line {
      height: 100%;
      width: 100%;
      transform: rotate(5deg);
      -webkit-transform: rotate(5deg);

      div:first-child {
        height: 50%;
        width: 100%;
        border-bottom: 1px solid #ccc;
      }

      div:last-child {
        height: 50%;
        width: 100%;
      }
    }
  }
}
