.body {
  margin: 0 1%;
  width: 100%;
}

.input{
  margin: 0 auto;
  margin-bottom: 10px;
  width: 235px;
}

.input span{
  display: inline-block;
  margin-right: 10px;
  width: 75px;
}

.int{
  display: inline-block;
  width: 150px;
}
