<nz-modal nzWrapClassName="vertical-center-modal" [nzWidth]="1200" [(nzVisible)]="isEditSaveVisible" [nzTitle]="title" [nzFooter]="modalFooter" (nzOnCancel)="onHandleCancel()">
  <nz-table #basicTable [nzData]="signings" [nzShowPagination]="false">
    <thead>
      <tr>
        <th class="history" style="width:10%">Role</th>
        <th class="history" style="width:10%">Name</th>
        <th class="history" style="width:10%">Judgement</th>
        <th class="history" style="width:50%">Comments</th>
        <th class="history" style="width:20%">Signing Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.role}}</td>
        <td>{{data.userId | userEnname | async}}</td>
        <td>{{data.isAgree | agree:data.role}}</td>
        <td>{{data.comment }}</td>
        <td>{{data.updateOn | datetime}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-modal>
